<style>
            ul.navbar {
                display: inline-block;
                text-align: center;
                margin: 0;
                padding: 0;
            }
            ul.navbar li{
                display:inline-block;
            }
</style>
<base target="_parent">
<body>
        <ul class="navbar">
                <li>
                    <a href="potash.html">Potash</a>
                </li>
                <li>
                    <a href="edmund_hillary.html">Edmund Hillary</a>
                </li>
                <li>
                    <a href="potassium.html">Potassium</a>
                </li>
        </ul>
</body>
